<div class="blog-container">

	<div class="sidebar">

		<div class="widget">
			<h4>Recent Posts</h4>
			{tag_blogrecentpost}
		</div>

		<div class="widget">
			<h4> Tags</h4>
			{tag_blogtagcloud}     
			{tag_blogtaglist}
		</div>

		<div class="widget">
			<h4>Archive</h4>
			{tag_blogpostarchive}   
		</div>
   </div>

	<div id="main-content-sidebar">
		{tag_postlist}

		<div class="page-nav">
			{tag_previouspage} {tag_pagination} {tag_nextpage}
		</div>
	</div>
	  
</div>
