<p>&nbsp;</p>
<span style="font-family: verdana, arial, helvetica, sans-serif; font-size: 16px;">
<div class="heading passage-class-0" style="margin-top: 10px; color: #5c1101;">
<h3 style="font-size: 16px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"></h3>
</div>
</span><img alt="" src="/images/AgreementLg.jpg" style="border:0px;" />
<h3>Matthew 18:19-20 New International Version (NIV)</h3>
<p><strong>19 &ldquo;Again, truly I tell you that if two of you on earth agree about anything they ask for, it will be done for them by my Father in heaven. 20 For where two or three gather in my name, there am I with them.&rdquo;</strong></p>
<p>It is a great honor to be able to pray over this forum and rejoice in the praise reports that are posted. With all the different outlets on the internet, Covenant wants to create a safe place where we can stand in agreement on God's unfailing Word.</p>
<p>Please use this forum to post prayer request, praise report or encouraging Words.
<em>*Forum Disclaimer: The Administrators of this website encourage open dialogue. However, we reserve the right to delete any comments that are offensive or objectionable.</em></p>
<p class="error">{module_error}</p>
<div class="editor">{tag_editor}</div>
<ul class="cap-top">
    <li class="user">{module_whosloggedin}</li>
    <li class="actions">{tag_newtopiclink,<img alt="" src="/CatalystImages/Forum_NewTopic.png" />}</li>
</ul>
<table class="topic-list" cellspacing="0" cellpadding="0">
    <tbody>
        <tr class="header">
            <th class="name">Topic Name</th>
            <th class="replies">Replies</th>
            <th class="views">Views</th>
            <th class="date">Last Post</th>
        </tr>
        <tr>
            <td colspan="4">
            {tag_topiclist}
            </td>
        </tr>
    </tbody>
</table>
<ul class="cap-bottom">
    <li class="nav-page">
    {tag_previouspage,<img alt="" src="/CatalystImages/Module_Previous.png" />}
    {tag_nextpage,<img alt="" src="/CatalystImages/Module_Next.png" />}
    </li>
    <li class="actions">
    {tag_newtopiclink,<img alt="" src="/CatalystImages/Forum_NewTopic.png" />}
    </li>
</ul>
